In [2]:
# Import the neccessary modules
import pandas as pd
from sqlalchemy import create_engine

In [9]:
# Connect to MySQL
mysql_engine = create_engine("mysql://root:*****@localhost:3306/mydatadb")

In [13]:
# Import data
data = pd.read_excel("D:/Google Data Analytics/Bootcamp/AlexTheAnalyst/Nashville_Housing_Data.xlsx")

In [14]:
# Load the imported file into database
data.to_sql('Nashville_Housing_Data', mysql_engine, if_exists='replace', index=False)

C:\Users\NC\AppData\Local\Temp\ipykernel_14960\57211119.py:2: UserWarning: The provided table name 'Nashville_Housing_Data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  data.to_sql('Nashville_Housing_Data', mysql_engine, if_exists='replace', index=False)

56477

In [1]:
# Load SQL module

%load_ext sql

In [2]:
# Connect to the database

%sql mysql://root:Nemai***@localhost:3306/mydatadb

'Connected: root@mydatadb'

In [3]:
%%sql 

SELECT *
FROM Nashville_Housing_Data
LIMIT 5;

 * mysql://root:***@localhost:3306/mydatadb
5 rows affected.

[(2045, '007 00 0 125.00', 'SINGLE FAMILY', '1808  FOX CHASE DR, GOODLETTSVILLE', datetime.datetime(2013, 4, 9, 0, 0), 240000, '20130412-0036474', 'No', 'FRAZIER, CYRENTHA LYNETTE', '1808  FOX CHASE DR, GOODLETTSVILLE, TN', 2.3, 'GENERAL SERVICES DISTRICT', 50000.0, 168200.0, 235700.0, 1986.0, 3.0, 3.0, 0.0),
 (16918, '007 00 0 130.00', 'SINGLE FAMILY', '1832  FOX CHASE DR, GOODLETTSVILLE', datetime.datetime(2014, 6, 10, 0, 0), 366000, '20140619-0053768', 'No', 'BONER, CHARLES & LESLIE', '1832  FOX CHASE DR, GOODLETTSVILLE, TN', 3.5, 'GENERAL SERVICES DISTRICT', 50000.0, 264100.0, 319000.0, 1998.0, 3.0, 3.0, 2.0),
 (54582, '007 00 0 138.00', 'SINGLE FAMILY', '1864 FOX CHASE  DR, GOODLETTSVILLE', datetime.datetime(2016, 9, 26, 0, 0), 435000, '20160927-0101718', 'No', 'WILSON, JAMES E. & JOANNE', '1864  FOX CHASE DR, GOODLETTSVILLE, TN', 2.9, 'GENERAL SERVICES DISTRICT', 50000.0, 216200.0, 298000.0, 1987.0, 4.0, 3.0, 0.0),
 (43070, '007 00 0 143.00', 'SINGLE FAMILY', '1853  FOX CHASE DR, GOODLETTSVILLE', datetime.datetime(2016, 1, 29, 0, 0), 255000, '20160129-0008913', 'No', 'BAKER, JAY K. & SUSAN E.', '1853  FOX CHASE DR, GOODLETTSVILLE, TN', 2.6, 'GENERAL SERVICES DISTRICT', 50000.0, 147300.0, 197300.0, 1985.0, 3.0, 3.0, 0.0),
 (22714, '007 00 0 149.00', 'SINGLE FAMILY', '1829  FOX CHASE DR, GOODLETTSVILLE', datetime.datetime(2014, 10, 10, 0, 0), 278000, '20141015-0095255', 'No', 'POST, CHRISTOPHER M. & SAMANTHA C.', '1829  FOX CHASE DR, GOODLETTSVILLE, TN', 2.0, 'GENERAL SERVICES DISTRICT', 50000.0, 152300.0, 202300.0, 1984.0, 4.0, 3.0, 0.0)]

As we can see, the `SaleDate` has the DATETIME data type. We are gonna convert it to DATE type. Our main goal is to add another column and remove the `SaleDate` column

In [10]:
%%sql 

# Standardize Date Format

SELECT SaleDate, CONVERT(SaleDate, DATE)
FROM Nashville_Housing_Data
LIMIT 5;

 * mysql://root:***@localhost:3306/mydatadb
5 rows affected.

[(datetime.datetime(2013, 4, 9, 0, 0), datetime.date(2013, 4, 9)),
 (datetime.datetime(2014, 6, 10, 0, 0), datetime.date(2014, 6, 10)),
 (datetime.datetime(2016, 9, 26, 0, 0), datetime.date(2016, 9, 26)),
 (datetime.datetime(2016, 1, 29, 0, 0), datetime.date(2016, 1, 29)),
 (datetime.datetime(2014, 10, 10, 0, 0), datetime.date(2014, 10, 10))]

Let's add another column name `sale_date` and set the converted value into the new `sale_date` column

In [13]:
%%sql

ALTER TABLE Nashville_Housing_Data
ADD sale_date DATE;

 * mysql://root:***@localhost:3306/mydatadb
0 rows affected.

[]

In [14]:
%%sql

UPDATE Nashville_Housing_Data
SET sale_date = CONVERT(SaleDate, DATE);

 * mysql://root:***@localhost:3306/mydatadb
56477 rows affected.

[]

In [15]:
%%sql

SELECT sale_date
FROM Nashville_Housing_Data
LIMIT 2;

 * mysql://root:***@localhost:3306/mydatadb
2 rows affected.

[(datetime.date(2013, 4, 9),), (datetime.date(2014, 6, 10),)]

In [16]:
%%sql 

ALTER TABLE Nashville_Housing_Data
DROP COLUMN SaleDate;

 * mysql://root:***@localhost:3306/mydatadb
0 rows affected.

[]

In [18]:
%%sql 

SELECT *
FROM Nashville_Housing_Data
LIMIT 2

 * mysql://root:***@localhost:3306/mydatadb
2 rows affected.

[(2045, '007 00 0 125.00', 'SINGLE FAMILY', '1808  FOX CHASE DR, GOODLETTSVILLE', 240000, '20130412-0036474', 'No', 'FRAZIER, CYRENTHA LYNETTE', '1808  FOX CHASE DR, GOODLETTSVILLE, TN', 2.3, 'GENERAL SERVICES DISTRICT', 50000.0, 168200.0, 235700.0, 1986.0, 3.0, 3.0, 0.0, datetime.date(2013, 4, 9)),
 (16918, '007 00 0 130.00', 'SINGLE FAMILY', '1832  FOX CHASE DR, GOODLETTSVILLE', 366000, '20140619-0053768', 'No', 'BONER, CHARLES & LESLIE', '1832  FOX CHASE DR, GOODLETTSVILLE, TN', 3.5, 'GENERAL SERVICES DISTRICT', 50000.0, 264100.0, 319000.0, 1998.0, 3.0, 3.0, 2.0, datetime.date(2014, 6, 10))]