In [8]:
# Import the neccessary modules
import pandas as pd
from sqlalchemy import create_engine

In [9]:
# Connect to MySQL
mysql_engine = create_engine("mysql://root:Nemai1990@localhost:3306/mydatadb")

In [13]:
# Import data
data = pd.read_excel("D:/Google Data Analytics/Bootcamp/AlexTheAnalyst/Nashville_Housing_Data.xlsx")

In [14]:
# Load the imported file into database
data.to_sql('Nashville_Housing_Data', mysql_engine, if_exists='replace', index=False)

C:\Users\NC\AppData\Local\Temp\ipykernel_14960\57211119.py:2: UserWarning: The provided table name 'Nashville_Housing_Data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  data.to_sql('Nashville_Housing_Data', mysql_engine, if_exists='replace', index=False)

56477

In [15]:
# Load SQL module

%load_ext sql

In [ ]:
#Connect to the database

%sql mysql://root:Nemai1990@localhost:3306/mydatadb